html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

  /* General Style */

  html {
    font-family: 'Roboto', Arial, sans-serif;
  }

  body {
      display: flex;
      justify-content: center;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  button{
      margin: 0;
      padding: 0;
  }

  /* Title Style */

  .title {
  }

  /* Buttons */

  .btn{
    min-width: 100px;
    min-height: 100px;
  }

  .btn.rock {
    background-image: url(./images/rock.svg); 
  }

    .btn.paper {
    background-image: url(./images/paper.svg); 
  }

  .btn.scissors {
    background-image: url(./images/scissors.svg); 
  }
  
